#container {
    width: 900px;
    margin: 0 auto;
}

#chart, #chartData {
    border: 0px solid #333;
    background-color: #eeeeee;
}

#chart {
    display: block;
    margin: 0 0 50px 0;
    float: left;
    cursor: pointer;
}

#chartData {
    width: 200px;
    margin: 0 40px 0 0;
    float: right;
    border: 0px;
    background-color: #eeeeee;
    -moz-box-shadow: 0 0 2px 2px #d5d5d5;
    -webkit-box-shadow: 0 0 2px 2px #d5d5d5;
    box-shadow: 0 0 2px 2px #d5d5d5;
}

#chartData th, #chartData td {
    padding: 0.5em;
    border: 0px dotted #666;
    text-align: left;
}

#chartData th {
    border-bottom: 1px solid #333;
    text-transform: uppercase;
}

#chartData td {
    cursor: pointer;
}

#chartData td.highlight {
    background: #e8e8e8;
}

#chartData tr:hover td {
    background: #f0f0f0;
}
